html {
  font-size: 15px;
}

body {
  margin: 0;
  /* font */
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: whitesmoke;
}

/* for fixed-footer*/
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 1em 2em;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  margin-bottom: 1em;
}

/* ------------------------------ */
/* headings                       */
/* ------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

/* margin of headings */
h1 {
  margin-bottom: 0.25em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

/* font-size of headings */
h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
  border-bottom: 3px solid rgba(214, 209, 209, 0.7);
}

h3 {
  font-size: 1.75em;
  border-bottom: 2px dashed rgba(214, 209, 209, 0.7);
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.1em;
}

/* ------------------------------ */
/* others                         */
/* ------------------------------ */

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

/* -------------------------------- */
/* layout for different screen size */
/* -------------------------------- */

/* @media (min-width: 400px) {
  body {
    font-size: 1rem;
  }
} */
